body{
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
  }
  
  .navbar .menu {
    flex:5;
    display: flex; /* set flexbox */
    align-items: center; /* align vertically */
    justify-content:center; /* push to right */
  }
  .icon ul{
    display: flex;
  }
  .icon ul li{
    list-style-type: none;
    color: #fff;
    padding: 5px;
    align-items: flex-end; /* align vertically */
    justify-content:flex-end; /* push to right */
  }

.resto-card{
  width: 17.2%;
  background: #a29c9c42;
  border: 1px solid #b5b2b2;
  margin: 0.2rem;
  padding: 0.5rem;
}
.resto-card:hover{
border: 1px solid #c4c4c4;
box-shadow: 5px 5px 5px #c4c4c4;

}
.btn-style{
  height: 35px;
  color: #000;
  background: #cfcfcf;
  border-radius: 6px;
  cursor: pointer;
}
.btn-style:hover{
  background-color: gray;
  color: #cfcfcf;
}

.search-style{
  height: 35px;
    color: #000;
    background: #fff;
    border-radius: 6px;
    margin-left: 7rem;

}

